<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/assignmentstyle.css"/>
    <title>CSCB20 Assignments</title>
</head>
<body>

<div class="heading">Assignments Information</div>

<div class="dropdown">
    <form action="/getback" method="POST">
    <div class="gback">
        <input type="submit" value="Back to Main Menu">
    </div>
    </form>
    <form action="/logout" method="POST">
        <div class="logoutbutton">
            <input type="submit" value="Log out account">
        </div>
    </form>
    <button class="dropbtn">Class Info</button>
    <div class="dropdown-content">
        <a href="/home">Home</a><br>
        <a href="/calendar">Calendar</a><br>
        <a href="/news">News</a><br>
        <a href="http://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h4><br>
        <a href="/lectures">Lectures</a><br>
        <a href="/labs">Labs</a><br>
        <a href="/assignments">Assignments</a><br>
        <a href="/tests">Tests</a><br>
        <a href="/resources">Resources</a><br>
    </div>
</div>

<div class="container">
<h1>Overview</h1>
<p>
    Here are the assignment and exercise topics, weights,<br> 
    and due dates. I will be posting the exercise and<br>
    assignment handouts here. All exercises and assignments<br> 
    will be submitted on<a href="https://markus.utsc.utoronto.ca/">MarkUs</a><br> 
    Note that:You need to sign up your course team on Markus before you start your assignment.
</p>

<h1>Assignments</h1>
<div class=detail>
    <div class=ass>
        <ul>
            <li>Assignment1</li>
            <li><a href="pic and ppt\fakelecturematerial.pptx">handout</a></li>
            <li>Topic:Relational Algebra and MySQL</li>
            <li>Weight:15%</li>
            <li>Due Date: Part 1. Wednesday Feb. 1, 11.59pm, Submit to MarkUs
                UPDATED Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to MarkUs You can download a dumpfile for IMDB_SMALL <a href="fakelecturematerial.pptx">here</a>.
            </li>
            <li><a href="pic and ppt\fakelecturematerial.pptx">Solution Part1</a></li>
        </ul>
    </div>
    <div class=ass>
        <ul>
            <li>Assignment2</li>
            <li><a href="pic and ppt\fakelecturematerial.pptx">handout</a></li>
            <li>Topic:HTML, CSS, PHP</li>
            <li>Weight:15%</li>
            <li>Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to MarkUs
                Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to MarkUs</li>
        </ul>
    </div>
    <div class=ass>
        <ul>
            <li>Assignment3</li>
            <li><a href="pic and ppt\fakelecturematerial.pptx">New Marking Scheme for A3
                Handout</a></li>
            <li>Topic:Web Application and Database</li>
            <li>Weight:15%</li>
            <li>Friday March 31, 11.59pm</li>
        </ul>
    </div>
</div>



<h1>FAQ - Assignment 1</h1>
<p>
    Q. If the mysql portion asks for a director or actor without specifying which attributes,<br>
    what should I return?<br>
    A. Return the first name, last name.
</p>
</div>

<div class="footer">
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">link:CS faculty at UofT</a>
    <h7>Site designed by ZidiGao and ZeyuanYe</h7>
</div>


</body>
</html>