<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/calendarstyle.css"/>
    <title>CSCB20 Calendar</title>
</head>
<body>

<div class="heading">Calender</div>

<div class="dropdown">
    <form action="/getback" method="POST">
        <div class="gback">
            <input type="submit" value="Back to Main Menu">
        </div>
    </form>
    <form action="/logout" method="POST">
       <div class="logoutbutton">
            <input type="submit" value="Log out account">
        </div>
    </form>
    <button class="dropbtn">Class Info</button>
        
    <div class="dropdown-content">
        <a href="/home">Home</a><br>
        <a href="/calendar">Calendar</a><br>
        <a href="/news">News</a><br>
        <a href="http://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h4><br>
        <a href="/lectures">Lectures</a><br>
        <a href="/labs">Labs</a><br>
        <a href="/assignments">Assignments</a><br>
        <a href="/tests">Tests</a><br>
        <a href="/resources">Resources</a><br>
    </div>
</div>






<div class="container">
<iframe src="https://calendar.google.com/calendar/embed?src=062btcpe6ukskfptv62jsc7sug%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="1000" height="1000" frameborder="0" scrolling="no"></iframe>
</div>

<div class="footer">
<a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">link:CS faculty at UofT</a>
<h7>Site designed by ZidiGao and ZeyuanYe</h7>
</div>

</body>
</html>