<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/indexstyle.css"/>
    <title>CSCB20 Home</title>
</head>
<body>

<div class="heading">Home Page</div>



<div class="dropdown">
    <form action="/getback" method="POST">
    <div class="gback">
        <input type="submit" value="Back to Main Menu">
    </div>
    </form>
    <form action="/logout" method="POST">
        <div class="logoutbutton">
            <input type="submit" value="Log out account">
        </div>
    </form>
    <button class="dropbtn">Class Info</button>
    <div class="dropdown-content">
        <a href="/home">Home</a><br>
        <a href="/calendar">Calendar</a><br>
        <a href="/news">News</a><br>
        <a href="http://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h4><br>
        <a href="/lectures">Lectures</a><br>
        <a href="/labs">Labs</a><br>
        <a href="/assignments">Assignments</a><br>
        <a href="/tests">Tests</a><br>
        <a href="/resources">Resources</a><br>
        <a href="/feedback">Feedback</a><br>
    </div>
</div>






<div class="container">
    <h1>Welcome to CSCB20</h1> 
    <div class = "describe">
        <h2>Course Description</h2>
        <centre>
            <div class="description text">
            <p>A practical introduction to databases and Web app development.
            Databases: terminology and applications; creating, querying 
            and updating databases; the entity-relationship model for 
            database design. Web documents and applications: static 
            and interactive documents; Web servers and dynamic 
            server-generated content; Web application development 
            and interface with databases.</p>
            </div>
        </centre>
        <h2>General information</h2>
        <p> Instructor: Dr. Anna Bretscher	</p>
        <p>Lecture:  Mondays 9 am to 11 am</p>
        <p>Location: IC493 <a href="https://www.utsc.utoronto.ca/home/sites/utsc.utoronto.ca.home/files/docs/UTSC_Campus_Map_2015.pdf"> Map </map></a> </p>
        <p>Tutorials:  Check Online Schedule </p>
        <p>Office Hour: W 11:00 - 12:00</p>
        <p>Email: <a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a> </p> 
        <p>Syllabus: <a href="pic and ppt\fakelecturematerial.pptx">PDF </a> </p>
    </div>
</div>

<div class="footer">
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">link:CS faculty at UofT</a>
    <h7>Site designed by ZidiGao and ZeyuanYe</h7>
</div>

</body>
</html>