<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/studentgrade.css">
    <title>Grade Page(Instructor version)</title>
</head>
<body>
    <div class="background">
        <form action="/getback" method="POST">
            <div class="gback">
                <input type="submit" value="Back to Main Menu">
            </div>
        </form>
        <form action="/logout" method="POST">
            <div class="logoutbutton">
                <input type="submit" value="Log out account">
            </div>
        </form>
            
        <div class="content">
            <h3>Welcome {{post}}, Please check all students' grades</h3>
            <a href="/remarkpage">View all remark request</a><br>
            <ul>
                {%for item in marks%}
                <li>Studentname:{{item['studentname']}}</li>
                <li>Quiz 1: {{item['quiz1']}}</li>
                <li>Quiz 2: {{item['quiz2']}}</li>
                <li>Quiz 3: {{item['quiz3']}}</li>
                <li>Midterm Exam: {{item['midtermexam']}}</li>
                <li>Final Exam:{{item['finalexam']}}</li>
                <br />
                {%endfor%}
            </ul>

        </form>
    </div>
</div>

</body>
</html>