<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/lecturestyle.css"/>
    <title>CSCB20 Lectures</title>
</head>
<body>

<div class="heading">Lectures Information</div>

<div class="dropdown">
    <form action="/getback" method="POST">
        <div class="gback">
            <input type="submit" value="Back to Main Menu">
        </div>
        </form>
        <form action="/logout" method="POST">
            <div class="logoutbutton">
                <input type="submit" value="Log out account">
            </div>
        </form>
    <button class="dropbtn">Class Info</button>
    <div class="dropdown-content">
        <a href="/home">Home</a><br>
        <a href="/calendar">Calendar</a><br>
        <a href="/news">News</a><br>
        <a href="http://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h4><br>
        <a href="/lectures">Lectures</a><br>
        <a href="/labs">Labs</a><br>
        <a href="/assignments">Assignments</a><br>
        <a href="/tests">Tests</a><br>
        <a href="/resources">Resources</a><br>
    </div>
</div>


<div class="container">
    <h1>Lecture Schedule</h1>
    <p>Please print and bring these notes/worksheets to class.</p> 
    <h2>Topic</h2>
    <div class = "week">
       
        <ul>
            <li><a href="#Week1">Week1:Introduction, Databases background</a></li>
            <li><a href="#Week2">Week2:Schema Diagrams, Relational Algebra</a></li>
            <li><a href="#Week3">Week3:SQL and MySQL</a></li>
            <li><a href="#Week4">Week4:MySQL Queries, Creating and Editing Tables</a></li>
            <li><a href="#Week5">Week5:MySQL Outer Joins, Views, NULL, string functions, HTML</a></li>
            <li><a href="#Week6">Week6:HTML, CSS</a></li>
            <li><a href="#Week7">Week7:PHP</a></li>
            <li><a href="#Week8">Week8:PHP and SQL</a></li>
            <li><a href="#Week9">Week9:JavaScript and jQuery</a></li>
            <li><a href="#Week10">Week10:jQuery, AJAX, JSON</a></li>
            <li><a href="#Week11">Week11:Last Year's final</a></li>
        </ul>    
    </div>
    <p>Note that there is no reading required for this course.</p>

    <div class = "weekinfo">
        <a name="Week1"><I>Week1</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week1 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week1 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week2"><I>Week2</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week2 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week2 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week3"><I>Week3</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week3 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week3 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week4"><I>Week4</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week4 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week4 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week5"><I>Week5</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week5 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week5 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>


    <div class = "weekinfo">
        <a name="Week6"><I>Week6</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week6 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week6 Worksheet Solution</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Midterm Test Sample</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Midterm Sample Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week7"><I>Week7</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week7 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week7 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week8"><I>Week8</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week8 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week8 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week9"><I>Week9</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week9 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week9 Worksheet Solution</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week10"><I>Week10</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week10 Lecture Material</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Week10 Worksheet Solution</a>
        <br>
        <a href="https://utsc.utoronto.ca/news-events/university-news/u-t-takes-steps-protect-and-inform-community-members-during-coronavirus-outbreak">Link to Weblecture(due to coronavirus)</a>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div class = "weekinfo">
        <a name="Week11"><I>Week11</I></a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">Online Final Exam due to coronavirus</a>
        <br>
        <a href="pic and ppt\fakelecturematerial.pptx">How to prepare your final</a>
        <br>
        <br>
        <br>
        <br>
    </div>

  
</div>
    
<div class="footer">
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">link:CS faculty at UofT</a>
    <h7>Site designed by ZidiGao and ZeyuanYe</h7>
</div>


</body>
</html>