<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/resourcestyle.css">
    <title>CSCB20 Resources</title>
</head>
<body>

<div class="heading">Resources Page</div>

<div class="dropdown">
    <form action="/getback" method="POST">
        <div class="gback">
            <input type="submit" value="Back to Main Menu">
        </div>
        </form>
        <form action="/logout" method="POST">
            <div class="logoutbutton">
                <input type="submit" value="Log out account">
            </div>
        </form>
    <button class="dropbtn">Class Info</button>
    <div class="dropdown-content">
        <a href="/home">Home</a><br>
        <a href="/calendar">Calendar</a><br>
        <a href="/news">News</a><br>
        <a href="http://piazza.com/mail.utoronto.ca/winter2017/cscb20/home">Discussion Board</a></h4><br>
        <a href="/lectures">Lectures</a><br>
        <a href="/labs">Labs</a><br>
        <a href="/assignments">Assignments</a><br>
        <a href="/tests">Tests</a><br>
        <a href="/resources">Resources</a><br>
    </div>
</div>

<div class="container">
<h1>Online Resources</h1>
<ul>
    <li><a href="index.html">Course Website</a></li>
    <p>
        Course information, lecture notes, tutorial material, <br>
        important announcements, etc. will be posted on the <br>
        course website. It is your responsibility to visit it frequently.
    </p>
    <li>Beginner Tutorial for <a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200">MySQL</a> </li>
    <li>Email Communication</li>
    <p>
        Questions regarding the course material, assignments, midterm, etc.<br>
        should be posed on the bulletin board. Questions about the<br>
        assignment which you feel you cannot formulate without revealing<br> 
        your solution (should be very rare!), as well as questions and concerns<br> 
        regarding your personal matters should be directed to the instructor.<br>
    </p>
    <li><a href="https://piazza.com/utoronto.ca/winter2017/cscb20">Discussion Board</a></li>
    <p>
        You are encouraged to use the bulletin board to discuss the course material,<br>
        pose questions on the assignments, etc. The bulletin board will be monitored by the<br> 
        instructor and by your TAs. Please, be very careful not to reveal (parts of)<br> 
        your solution on the bulletin board.
    </p>
    <li><a href="https://www.youtube.com/">Youtube</a></li>
    <p>Youtube is always a good place to study, just <br>
       type in the topics that you are learning, you will <br>
       be surprised by the quality tutorial video you can find!
    </p>
</ul>
<h1>Software and Documentation</h1>
    <li>Logging into Mathlab.</li>
    <ol>
        <li>Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing<br>
            <code>ssh utorid@mathlab.utsc.utoronto.ca.</code>Enter your password.
        </li>
        <li>
            Windows - you will need a SSH client. PuTTY is a good free one.<br>
            You can download and install here:<a href="https://www.putty.org/">PuTTY</a>.<br>
            Use the same command as above to login to mathlab:
            <code>ssh utorid@mathlab.utsc.utoronto.ca.</code>
        </li>
    </ol>



<p></p>
</div>





<div class="footer">
    <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">link:CS faculty at UofT</a>
    <h7>Site designed by ZidiGao and ZeyuanYe</h7>
</div>


</body>
</html>