<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/studentgrade.css">
    <title>Grade Page(student version)</title>
</head>
<body>
    <div class="background">
        <form action="/getback" method="POST">
            <div class="gback">
                <input type="submit" value="Back to Main Menu">
            </div>
        </form>
        <form action="/logout" method="POST">
            <div class="logoutbutton">
                <input type="submit" value="Log out account">
            </div>
        </form>
            
        <div class="content">
            <h3>Grade of {{post.studentname}}</h3>
            <ul>
            <li>Quiz 1: {{post.quiz1}}</li>
            <li>Quiz 2: {{post.quiz2}}</li>
            <li>Quiz 3: {{post.quiz3}}</li>
            <li>Midterm Exam: {{post.midtermexam}}</li>
            <li>Final Exam: {{post.finalexam}}</li>
            </ul>
            <h2>{{send}}</h2>
            
            <form action="/remark" method="POST">
            <p>You can send your remark request below.<br>
                Please write clearly which mark you want to<br>
                request for remark, and why. One request at a time.
            </p>
            
            <div class="selectbox">
            <select name="test">
                <option value="quiz1">QUIZ1</option>
                <option value="quiz2">QUIZ2</option>
                <option value="quiz3">QUIZ3</option>
                <option value="mid">MIDTERM</option>
                <option value="final">FINAL</option>
            </select>
            </div>
            <h3>{{warning}}</h3>
            <div class="reason">
                <textarea name="reasoning" class="input-box" rows="15" cols="80"></textarea>
            </div>
            <div class="request">
                <input type="submit" value="Send Remark Request">
            </div>
            </form>
        </div>
    </div>

</body>
</html>