<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/menustyle.css" type="text/css">
    <title>Student</title>
</head>
<body>
    <div class = "background">
        <form action="/logout" method="POST">
            <div class="logoutbutton">
                <input type="submit" value="Log out account">
            </div>
        </form>
        <div class="menu">
            <h1>Menu</h1>
            <div class = "link">
            <a href="/studentgrade">Check Grade and remark</a><br>
            </div>
            <div class = "link">
            <a href="/studentfeedback">Send Feedback</a><br>
            </div>
            <div class = "link">
            <a href="/home">General Information</a><br>
            </div>
        </div>
    </div>
   

</body>
</html>